* {
  margin: 0px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.padre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.header {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  position: -webkit-sticky;
  position: sticky;
  position: fixed;
  width: 100%;
  top: 0px;
}

.menu {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  height: 100px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  -webkit-box-flex: 3;
  -ms-flex: 3 1 auto;
  flex: 3 1 auto;
  width: 400px;
}

.menus {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menus a {
  font-family: "Montserrat", sans-serif;
  color: dimgray;
  font-size: 15px;
  padding: 0 8px;
  letter-spacing: 2px;
}

.menus a:hover {
  color: #6e8fbb;
}

.nav {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav a {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: dimgray;
  padding: 0 15px;
}

.nav a:hover {
  color: #6e8fbb;
}

.section0 {
  background: url(imagenes/imagen1.jpeg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
}

.texto-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 700px;
}

h1 {
  background: rgba(255, 255, 255, 0.5);
  font-family: "Montserrat", sans-serif;
  -webkit-box-flex: 3;
  -ms-flex: 3 1 100%;
  flex: 3 1 100%;
  font-size: 45px;
  color: #000;
  margin-top: 200px;
}

h4 {
  -webkit-box-flex: 3;
  -ms-flex: 3 1 100%;
  flex: 3 1 100%;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 20px;
  margin-top: -210px;
}

.form {
  -webkit-box-flex: 0.2;
  -ms-flex: 0.2 1 0.5%;
  flex: 0.2 1 0.5%;
  width: 25rem;
  padding: 1.5rem;
  margin-left: 20px;
  margin-right: -40px;
  margin-top: -300px;
  font-size: 1.5rem;
  line-height: 0px;
}

.bot {
  -webkit-box-flex: 0.1;
  -ms-flex: 0.1 1 auto;
  flex: 0.1 1 auto;
  margin-top: -300px;
}

.bot button {
  border: none;
  text-transform: uppercase;
  font-family: "Montserrat italic", sans-serif;
  font-size: 15px;
  font-weight: 700px;
  color: #fff;
  text-align: center;
  margin-top: -45px;
  margin-left: 50px;
  border-radius: 0.5rem;
  background: #18d418;
  padding: 1rem 3rem;
}

.bot button:hover {
  background: #99ee49;
}

.section {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.imagenes {
}

.sec {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  color: #000;
  margin-top: 10px;
}

/* .slide {
  background: white;
  -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
          box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  width: 960px;
}

.slide::before, .slide::after {
  background: linear-grandient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slide::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.slide::before {
  left: 0;
  top: 0;
}

.slide .slide-track {
  -webkit-animation: scroll animation-duration linear infinite;
          animation: scroll animation-duration linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(250px * 14);
}

.slide .slide {
  height: 100px;
  width: 250px;
} */

.section2 {
  background: url(imagenes/imagen2.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
}

.imagen-grande {
  height: 1000px;
}

.sec2 {
  background: rgba(255, 255, 255, 0.5);
  font-family: "Montserrat", sans-serif;
  -webkit-box-flex: 3;
  -ms-flex: 3 1 100%;
  flex: 3 1 100%;
  font-size: 45px;
  color: #000;
  margin-top: 300px;
  margin-left: 800px;
}

.imagen {
  -webkit-box-flex: 3;
  -ms-flex: 3 1 100%;
  flex: 3 1 100%;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 800px;
}

.section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 1600px;
}

.contenido-tabla {
  /* background: #2d4059;*/
}

.sec3 {
  font-family: "Montserrat", sans-serif;
  -webkit-box-flex: 3;
  -ms-flex: 3 1 100%;
  flex: 3 1 100%;
  font-size: 45px;
  color: #000;
}

.tabla {
  width: 1300px;
  height: 900px;
  background: #fff;
  margin-top: -50px;
  margin: 0px;
  padding: 0px 0px;
}
.tabla td {
  border: black 7px solid;
}

.boton-abajo button {
  border: none;
  text-transform: uppercase;
  font-family: "Montserrat italic", sans-serif;
  font-size: 15px;
  font-weight: 700px;
  color: rgb(12, 68, 29);
  text-align: center;
  margin-top: -45px;
  margin-left: 50px;
  border-radius: 0.5rem;
  background: #fff;
  padding: 1rem 3rem;
  width: 350px;
  margin-top: 430px;
  margin-left: 480px;
  border-style: solid;
}
.boton-abajo button:hover {
  color: #fff;
  background: #18d418;
}

.section4 {
  background: url(imagenes/imagen3.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
}

.imagen-grande2 {
  height: 650px;
}

.sec4 {
  background: rgba(255, 255, 255, 0.5);
  font-family: "Montserrat", sans-serif;
  -webkit-box-flex: 3;
  -ms-flex: 3 1 100%;
  flex: 3 1 100%;
  font-size: 45px;
  color: #000;
  margin-top: 200px;
  margin-left: 800px;
}

.imagen2 {
  -webkit-box-flex: 3;
  -ms-flex: 3 1 100%;
  flex: 3 1 100%;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 800px;
  margin-right: 20px;
}
.boton4 button {
  background: #fff;
  width: 350px;
  height: 45px;
  text-transform: uppercase;
  font-family: "Montserrat italic", sans-serif;
  font-size: 15px;
  font-weight: 700px;
  color: rgb(82, 74, 74);
  text-align: center;
  margin-top: -5px;
  margin-left: 820px;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
}
.boton4 button:hover {
  color: #fff;
  background: #18d41800;
  border-color: #fff;
}

.imagen2 p {
  width: 600px;
}

.section5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

.articulos {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  background: #fff;
}

.sec5 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  background: rgba(255, 255, 255, 0.5);
  font-family: "Montserrat", sans-serif;
  -webkit-box-flex: 3;
  -ms-flex: 3 1 100%;
  flex: 3 1 100%;
  font-size: 45px;
  color: #000;
  margin-top: 10px;
  text-align: center;
}

.article1 {
  background: #fff;
  border-color: #000;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 5%;
  flex: 1 1 5%;
  margin: 5px;
  width: 400px;
  height: 500px;
  margin-left: 160px;
  margin-right: 160px;
  border-top: solid;
}
.article1 img {
  width: 460px;
  height: 300px;
  background: #fff;
}

.section6 {
  background: green;
  background-position: center;
  background-attachment: contain;
  background-size: cover;
}

.imagen-grande3 {
  height: 650px;
}

.sec6 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  font-family: "Montserrat", sans-serif;
  -webkit-box-flex: 3;
  -ms-flex: 3 1 100%;
  flex: 3 1 100%;
  font-size: 30px;
  color: #fff;
  margin-top: 10px;
  text-align: center;
}
.sec62 {
  color: #fff;
  text-align: center;
}

.carrusel2 {
  background: #ffd460;
}

.section7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.articulos2 {
  -webkit-box-flex: 2;
  -ms-flex: 2 1 auto;
  flex: 2 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.sec7 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.articulos2 h4 {
  text-align: center;
  margin-top: 20px;
  color: #000;
}

.article2 {
  background: #fff;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 10%;
  flex: 1 1 10%;
  margin: 5px;
  border-top: #000;
}
.article2 img {
  width: 460px;
  height: 300px;
  background: #fff;
}

.section8 {
  background: rgb(82, 79, 79);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.contactanos {
}

.sec8 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  font-family: "Montserrat", sans-serif;
  -webkit-box-flex: 3;
  -ms-flex: 3 1 100%;
  flex: 3 1 100%;
  font-size: 45px;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  text-align: center;
}

.cotizacion {
  color: #fff;
  margin-top: -20px;
  margin-left: 500px;
}

.footer {
  background: #18d418;
}

.pie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.contacto {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40%;
  flex: 1 1 40%;
  text-align: left;
  color: #fff;
}

.sociales {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40%;
  flex: 1 1 40%;
  display: flex;
  margin-left: 300px;
  color: #fff;
}
.sociales a:hover {
  color: #b2c2d6;
}

@media all and (max-width: 800px) {
  .header {
    flex-direction: column;
    height: auto;
  }
  .logo {
  }
  .menus {
    flex-direction: column;
    height: auto;
  }
  .nav {
    flex-direction: colum;
    height: auto;
  }
  .carousel {
    flex-direction: column;
    height: auto;
  }
  .section2 {
    flex-direction: column;
    height: auto;
  }
  .h1 {
    font-size: 15px;
  }
  .texto-principal {
    height: 450px;
  }
}
@media all and (max-width: 762px) {
  .articulos {
    flex-direction: column;
  }
}
@media all and (max-width: 650px) {
  .off {
    display: none;
  }
  .nav a {
    font-size: 30px;
  }
}
@media all and (max-width: 400px) {
  .aside {
    flex-direction: column;
  }
}

/*@media all and (max-width: 800px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
  }
  .pie {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
  }
  .texto-principal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
  }
  .articulos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
  }
  .articulos2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
  }
  .h1 {
    font-size: 15px;
  }
  .h4 {
    font-size: 5px;
  }
  .form {
    flex-direction: column;
    height: auto;
  }
  .bot {
    flex-direction: column;
    height: auto;
  }
  .section0 {
    height: auto;
    width: auto;
  }
  .cotizacion {
    flex-direction: column;
    height: auto;
    text-align: center;
  }
}
@media all and (max-width: 800px) {
  .header{

  }
@media all and (max-width: 762px){
  .articulos{
      flex-direction: column;
  }
}
@media all and (max-width: 650px){
  .off{
      display: none;
  }
  .nav a{
      font-size: 30px;
  }
}
@media all and (max-width: 400px){
  .aside{
      flex-direction: column;
  }
}*/

